

{% extends 'layouts/base.html.twig' %}

{% block title 'new pin' %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
   

    <h1>Create a pin </h1>

    {{include('pins/_form.html.twig')}}
</div>
</div>
{% endblock %}
