

{% extends 'base.html.twig' %}

{% block title 'new pin' %}

{% block body %}

    <h1>Create a pin </h1>
    {{form_start(monFormulaire)}}


{{form_widget(monFormulaire)}}
<input type="submit" value="create Pin">
{{form_end(monFormulaire)}}
{% endblock %}